<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% list.forEach(function (item) { %>
          <li>
            <h2><%= item.title %></h2>
            <div><%= item.content %></div>
          </li>
      <%}) %>
    </ul>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%-say %></p>
    <p><%=answer %></p>
    <p><img src="images/demo.png" /> </p>
  </body>
</html>
